@media all and (max-width: 414px) {
	body {
		background: #46237A;
	}

	p {
		font-size: 16px;
		font-weight: lighter;
		color: #FFFFFF;
	}

	h1{
		font-family: 'Open Sans', sans-serif;
		color: #FF495C;
		font-size: 25px;
		font-weight: lighter;
		text-align: center;
	}

	h3 {
		font-size: 16px;
	}


	h5 {
	font-size: 14px;
	line-height: 40px;
}

	a,button{
		color: #FFFFFF;
		padding: 10px 25px;
		font-size: 14px;
		text-decoration: none;
		border:none;
	}		

	.container{
		margin:0;
	}
	nav {
		height: 45px;
	}
	nav div {
		display: block;
		position: relative;
		padding-top: 12px;
		padding-left: 15px;
		z-index: 1;
	}
	nav div a {
		padding: 0;
	}
	nav ul {
		display: none;
	}

	nav ul li{
		display: block;
		margin-right:  0;
	}

	.mobile_nav {
		display: block;
		background: #FF495C;
		width: 100%;
		top: 45px;
		left: 0;
		transform: none;
		z-index: 1;
	}

	nav ul li{
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		border-bottom: 1px solid #46237A;
	}
	.first-view{
		flex-wrap: wrap;
		margin:0;
	}
	.content_part{
		order: 2;
		width: 100%;
		margin-top: 0;
	}

	.content_part .main_header {
		color: #FBFBFB;
		font-family: 'Playfair Display SC', serif;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		/*line-height: 128%;*/
		margin-bottom: 15px;
	}

	.btn_group{
		/*margin: 0 auto;*/
		text-align: center;
	}

	.btn_group .btn_two img {
		width:  22px;
		height: 22px;
		transform: translateY(6px);
	}

	.img_part{
		order: 1;
		width: 100%;
		height: 300px;
		background: url(/background);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin:0;
		border-radius: 0;
	}
	.img_border {
		display: none;
	}

.about{
	margin-top:40px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.about div {
	background-color: #593987;
	margin-top: 20px;
	border-radius: 20px;
}

.about div p {
	padding : 25px 20px;
	font-size: 20px;
}

.skills,.projects{
	display:none;
}
.mobile_skills,.mobile_projects{
	display: block;
	margin-top: 30px;
}

.box {
	position: relative;
	width: 80%;
	height: 325px;
}
.box ul{
	font-size: 16px;
}
.mobile_skills {
    width: 100%;
    height: 420px;
}
.mobile_projects{
	width: 100%;
	height: 525px;
}

.mobile_projects .box {
	position: relative;
	height: 430px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/*.mobile_projects .box img {
	display: block;
	width:100%;
	height: 216px;
}*/
.mobile_projects .sub_box {
	height: 40px;
	/*background: #3DDC97;*/
} 
.box .icon_box a {
	font-size: 14px;
}

.box a img {
	width: 22px;
	height: 22px;
	transform: translateY(6px);
}

.swiper-slide{
	width: 100%;
	display:flex;
	justify-content: center;
	margin-top: 20px;
} 
.contact{
	margin-top: 30px;
}
.contact div {
	width: 80%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

form label {
	font-size: 16px;
}

form input {
	width: 100%;
	font-size: 14px;
}

form .info {
	width: 100%;
	margin:0;
}

form .info span {
	font-size: 14px;
}

form textarea{
	width: 100%;
	height: 150px;
	font-size: 14px;
}
}